/************************************* SECCION MAIN INDEX *************************************/
.main h1 {
    color: $colors-primario;
    text-align: center;
    margin: 10px 0 20px 0;
}

.section_img-parrafo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.section_img-parrafo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_img-parrafo div a {
    margin: 15px;
    background-color: $colors-primario;
    border-radius: 50%;
}

.section_img-parrafo div a svg {
    margin: 15px;
}

.section_img-parrafo div a:active {
    transform: scale(0.9);
}

.flex_h2-p {
    display: flex;
    flex-direction: column;

}

.flex_h2-p h2 {
    color: $colors-primario;
    text-align: center;
    margin: 5px 0 20px 0;
}

.flex_h2-p p {
    max-width: 400px;
    font-size: 15px;
    color: $colors-primario;
    margin: 0 0px 0 10px;
}

.a {
    background-color: $colors-primario;
    border-radius: 100%;
}

.img_main-principal {
    width: 100vh;
}
/************************************* FIN DE SECCION MAIN INDEX *************************************/



/***************************************** SECCION MAIN MAPA *****************************************/
.main_mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_mapa h1 {
    color: $colors-primario;
    text-align: center;
    margin: 10px 0 20px 0;
}
.main_mapa h2 {
    color: $colors-primario;
    text-align: center;
    margin: 5px 0 20px 0;
}
.mapa {
    max-width:100vh ;
}
/***************************************** FIN SECCION MAIN MAPA *****************************************/



/*************************************** comienzo media querie ***************************************/

/************ 768px ************/
@media (max-width: 768px) {
    /************************************* SECCION MAIN INDEX *************************************/
    .section_img-parrafo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .img_main-principal {
        width: 100%;
    }
    /************************************* FIN DE  SECCION MAIN INDEX *************************************/

    /************************************* SECCION MAIN MAPA *************************************/
    .mapa {
        max-width:70vh ;
    }
    
    /************************************* FIN DE SECCION MAIN MAPA *************************************/
}

/************ 480px ************/
@media (max-width: 480px) {
    .mapa {
        max-width:50vh;
        height: 50vh;
    }
}
